---
---

@import "{{ site.theme }}";

.site-header, .site-footer {
  border: none;
  color: #ffffff;
  background-color: #124186;
}

.site-nav .page-link, .site-title, .site-title:visited, .footer-col, .footer-col a,  .footer-col a:hover,  .footer-col a:visited {
  color: white;
}

@media screen and (max-width: 600px) {
  .site-nav .page-link, .site-title, .site-title:visited {
    color: #424242;
  }
}


.site-title {
  content: url(header.png);
  display: inline-block;
  position: relative;
  height: 70px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-indent: -99999em;
  overflow: hidden;
  left: -5px;
}

.site-nav {
  margin-top: 13px;
}